{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} About  {% endblock %}</h1>
<h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in laoreet massa. Cras sit amet dapibus nibh. Quisque faucibus accumsan augue, eu porttitor risus lacinia quis. Fusce a felis in justo ultricies euismod. Donec vulputate ipsum eros, id pellentesque ipsum iaculis ut. Proin at massa diam. Nunc auctor velit et ipsum aliquet blandit. Donec a risus at lectus dignissim consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent pharetra est bibendum est pretium, eget sagittis mi sagittis. Sed lacinia auctor tortor, ac aliquet massa sagittis sed. Duis nulla nunc, tincidunt a mauris vel, posuere elementum sem. Quisque non pulvinar urna, eget egestas tortor. Ut eu gravida est, quis pellentesque sapien.</h3>'



{% endblock %}